* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 30px 0;
}

.book-span {
  color: rgb(3, 3, 114);
}

.form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  border: lightsteelblue;
  width: 40%;
  margin: 20px 0;
  background-color: white;
  height: 40px;
  margin-left: 10%;
}

input[type="button"] {
  background-color: lightskyblue;
  width: 60%;
  height: 40px;
  border: none;
  margin: 20px 0;
  color: white;
  font-size: 16px;
}

table {
  background-color: aliceblue;
  width: 60%;
  margin-left: 10%;
}

.books {
  background-color: aqua;
  width: 100%;
}

tr {
  height: 30px;
  background-color: antiquewhite;
}

tr:nth-child(even) { background-color: #f2f2f2; }

button {
  background-color: lightskyblue;
  border: none;
  width: 20%;
  color: white;
  font-size: 16px;
  height: 40px;
  margin-left: 30%;
}

tr button {
  width: 60%;
  margin: 0;
  float: right;
  background-color: crimson;
}
